.posts {

    margin: 2rem 4rem;

}

.posts .post {

    padding: 1rem 2rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}

.post a {
    text-decoration: none;
    color: black;
}

button, .post a {

    background: none;
    padding: 0.25rem 2rem;
    border-radius: 0.25rem;

    transition: color 0.3s, background-color 0.3s;
}

button:hover, a:hover {

    color: white;
    background-color: black;
    cursor: pointer;

}

.posts form {

    width: 80%;
    max-width: 1000px;

}

form {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

form textarea {

    background: none;

    border: 1px solid #ccc;
    border-radius: 1rem;

    padding: 4rem;
}

.input {
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.input input {

    margin: 0 0 0 2rem;

}

.details {
    width: 75%;
}

.interactions {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 25%rem;

}

