.post {
    width: 80%;
    margin: auto;
    padding: 4rem;
    border: 1px solid #838D8A;
    border-radius: 1rem;
}

.loading {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1 {
    font-size: 4rem;
    color: #E98074;
}