.nav {

    margin: auto;
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {

    text-decoration: none;
    color: #838D8A;
    font-size: 1.25rem;

    transition: transform 0.25s;

}

a:hover {

    cursor: crosshair;

}

.link-container {


}

.link {

    display: flex;
    flex-direction: column;

    transition: scale 0.3s;

}

.link-container:hover .link {

    scale: 1.05;

}

.nav-links{

    display: flex;
    gap: 2rem;

}

.main-content {

    margin: 5% 0 0 0;

}

.header {

    display: flex;
    align-items: center;

}

h2 {

    font-size: 2em;

}